.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.follow-btn {
    width: 106px;
}

.body {
    margin-top: 12px;
}

.nickname {
    &strong {
        font-size: 1.8rem;
    }
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.4rem;
}

.analytics {
    margin-top: 10px;
    font-size: 1.6rem;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    margin-left: 4px;
    color: #161823bf;
}
